In [1]:
x="python lecture 1"

In [2]:
print(x)

python lecture 1

In [3]:
type(x)

str

In [4]:
x

'python lecture 1'

In [5]:
x=input("Enter the value of x : \n")

Enter the value of x :
14

In [6]:
x

'14'

In [1]:
x=int(input("Enter the value of x "))
y=int(input("Enter the value of y"))

Enter the value of x 5
Enter the value of y4

In [2]:
res=x+y

In [3]:
print(res)

9

x="University"

In [6]:
x="University"

In [7]:
x[0:11]

'University'

In [8]:
x[3:5]

've'

In [9]:
x[-10]

'U'

In [12]:
x[-5:-2]

'rsi'

In [19]:
x= int(input("Enter the value of x: \n"))

if x%2 == 0:
    print("\n Even")
else:
    print("\n Odd")

Enter the value of x:
100

 Even

In [20]:
x= int(input("Enter the value of x: \n"))
y= int(input("Enter the value of y: \n"))
z= int(input("Enter the value of z: \n"))

print("Descending ORder \n")
if x<y == False:
    if y<z==False:
        print(x)
        print(y)
        print(z)
    else:
        print(x)
        print(z)
        print(y)
elif x>y == False:
    if y<z== False:
        print(y)
        print(z)
        print(x)
    else:
        print(z)
        print(y)
        print(x)

Enter the value of x:
2
Enter the value of y:
3
Enter the value of z:
4
Descending ORder

In [19]:
for i in range(2,100,5):
    print(i)

2
7
12
17
22
27
32
37
42
47
52
57
62
67
72
77
82
87
92
97

Enter the value of x:
17
It is prime

In [20]:
list=['water', 'sugar', 'milk', 'tea leaves']
for ingredients in list:
    print("Put", ingredients,"in the kettle")

Put water in the kettle
Put sugar in the kettle
Put milk in the kettle
Put tea leaves in the kettle

In [9]:
list[-3]

'sugar'

In [21]:
tsl=[1,22,34,45]

In [12]:
type(tsl)

list

In [13]:
type(tsl[0])

int

In [22]:
list1=tsl+list

In [23]:
list1

[1, 22, 34, 45, 'water', 'sugar', 'milk', 'tea leaves']

In [24]:
2 in list

False

In [26]:
22 in list1

True

In [27]:
list.clear()

In [34]:
list = [1,2,7.4,8,0,11.2]

In [35]:
list.sort()

In [36]:
list

[0, 1, 2, 7.4, 8, 11.2]

In [37]:
lst=[11,4,9,'ucp','lahore','Pakistan',3.14,5.6,1.3]

In [46]:
lst1=[]
lst2=[]
lst3=[]
for number in lst:
    if  type(number) == int:
        lst1.append(number)
    elif type(number)== float:
        lst2.append(number)
    elif  type(number) == str:
        lst3.append(number)

lst1.sort()
lst2.sort()
lst3.sort()

final=lst1+lst2+lst3
print(final)

[4, 9, 11, 1.3, 3.14, 5.6, 'Pakistan', 'lahore', 'ucp']

# LEcture 8

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("C:\\Users\\l1f15bscs0049\\Downloads\\euro.csv")

In [6]:
df.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [7]:
df.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [8]:
df['Team']

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

In [17]:
df.shape #rows and columns

(16, 35)

In [24]:
df[['Team','Goals']]  # square bracket makes it a list then show the columns

                   Team  Goals
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2

In [34]:
df.iloc[0:7,0:5] #if you dont know the column name then

             Team  Goals  Shots on target  Shots off target Shooting Accuracy
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%
5         Germany     10               32                32             47.8%
6          Greece      5                8                18             30.7%

In [45]:
df.sort_values(['Goals'],ascending=False)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17

In [47]:
shortfile = df[['Team','Goals' , 'Yellow Cards' , 'Red Cards']]

In [48]:
shortfile

                   Team  Goals  Yellow Cards  Red Cards
11  Republic of Ireland      1             6          1
8           Netherlands      2             5          0
9                Poland      2             7          1
15              Ukraine      2             5          0
4                France      3             6          0
0               Croatia      4             9          0
1        Czech Republic      4             7          0
2               Denmark      4             4          0
3               England      5             5          0
6                Greece      5             9          1
12               Russia      5             6          0
14               Sweden      5             7          0
7                 Italy      6            16          0
10             Portugal      6            12          0
5               Germany     10             4          0
13                Spain     12            11          0

In [64]:
shortfile['Yellow Cards'].mean() #average of the column
shortfile.Goals.mean()

4.75

In [52]:
type(shortfile.Goals)
type(shortfile)

pandas.core.series.Series

In [80]:
#df2=shortfile[['Team','Goals']][shortfile.Goals > 5]
#df2.sort_values(['Goals'],ascending = False)
shortfile[['Team','Goals']][shortfile.Goals > 5].sort_values(['Goals'],ascending = False) #second method

        Team  Goals
13     Spain     12
5    Germany     10
7      Italy      6
10  Portugal      6

In [86]:
shortfile[shortfile.Team.str.startswith('P')] #comparing first letter

        Team  Goals  Yellow Cards  Red Cards
10  Portugal      6            12          0

In [87]:
shortfile.loc[shortfile.Team.isin(['Spain','England'])]     #give value of cell(row) loc=locate

       Team  Goals  Yellow Cards  Red Cards
3   England      5             5          0
13    Spain     12            11          0

In [90]:
li = []
li = shortfile['Team']

In [91]:
li

11    Republic of Ireland
8             Netherlands
9                  Poland
15                Ukraine
4                  France
0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
6                  Greece
12                 Russia
14                 Sweden
7                   Italy
10               Portugal
5                 Germany
13                  Spain
Name: Team, dtype: object

In [92]:
type(li)

pandas.core.series.Series

In [95]:
str1=""
str1 = str1.join(li) #convert into string list

In [96]:
str1

'Republic of IrelandNetherlandsPolandUkraineFranceCroatiaCzech RepublicDenmarkEnglandGreeceRussiaSwedenItalyPortugalGermanySpain'

# Lecture 9

In [1]:
import pandas as pd

In [8]:
path = "C:\\Users\\l1f15bscs0049\\Downloads\\data\\data.csv"

In [13]:
df = pd.read_csv(path, header = None) # doesn't take the first row as a columns

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [17]:
df.shape
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25],
           dtype='int64')

In [18]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style", "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type", "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower", "peak-rpm","city-mpg","highway-mpg","price"]

In [19]:
df.columns = headers

In [20]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [21]:
df.shape

(205, 26)

In [23]:
md =  df.isnull()     # it changes the value to TRUE at the missing data values

In [24]:
import numpy as np  # for mathematical calculations

In [30]:
md = df.replace("?" , np.nan , inplace = True)  # returns the object of the file after updating the existing file
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [31]:
md =  df.isnull() 
md. head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
df.isnull().sum()     #number of missing values in each column

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [34]:
"""
replacing the nan values 
with Average

a=average(normalized-losses)
df[normalized-losses].replace(np.Nan,inplace = True)

"""

'\nreplacing the nan values \nwith Average\n\na=average(normalized-losses)\ndf[normalized-losses].replace(np.Nan,inplace = True)\n\n'

In [41]:
df.info() #displays meta-Data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    164 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         203 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 201 non-null object
stroke               201 non-null object
compression-ratio    205 non-null float64
horsepower           203 non-null object
peak-rpm             203 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                201 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

In [47]:
avg = df["normalized-losses"].astype("float").mean()  #type casting of the column becuase it has object type

In [48]:
df["normalized-losses"].replace(np.nan,avg,inplace=True)

In [52]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [56]:
f = df["num-of-doors"].value_counts().idxmax()

In [60]:
df["num-of-doors"].replace(np.nan,f,inplace = True)

In [63]:
df["num-of-doors"].isnull().sum()

0

In [64]:
# drop the rows 

df.dropna(subset=["peak-rpm"],inplace = True)
df.reset_index(drop = True, inplace = True) # re indexing

In [66]:
df.shape

(203, 26)

In [22]:
x=int(input("Enter the value of x : \n"))

if x >=0 or x<=9 :
    print(x)
    
else:
    print(chr(55+x))

Enter the value of x :
10
10

In [13]:
chr(65)

'A'

'x'